

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{

	background: url(../img/fondo1.jpg) no-repeat fixed;
	background-size: 100% auto;
    padding-bottom: 20px;
/*	font-family: 'Roboto', sans-serif	;
	font-weight: 300; */
}

label{
	font-weight: 300;
	font-size: 16px;
}
input {
	font-weight: 300;
	font-size: 16px;
}
#logo {
	margin: 10px 62px 0px 0px;
	height: 110px;
}
#logo>img {
	margin: 22px;
	margin-top: 0px;
	margin-left: 0px;
}
#logo>h1 {
	display: block;
	margin-top: 12px;
	width: 224px;

}

#login{

	color: #fff;
}

#login input {
	border-radius: 0px;
	background-color: transparent;
	border-color: #8A7E74;
	color: #FFFFFF;
	font-size: 16px;
}

#login label {
	color: #B8B1AB;
}

#fondo-blur {   
	background: url(../img/fondoBlur.jpg) no-repeat fixed;   
	background-size: 100% auto;
    padding-left: 20px;
    padding-right: 20px;
}

#background-obscuro {
	background-color: rgba(18, 6, 0, 0.55);
	padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn{

	text-transform: uppercase;
	border-radius: 0;
}









