<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>FindBooks</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-TileImage" content="mstile-144x144.png">

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,300,700,100,400italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> --> 
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/main.css">
  
  <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
  
  <!--[if lte IE 7 ]>

    <div style="background:#F6DFDF; border-bottom:1px solid #f00; height:75px; left:0; padding:10px 0 12px; width:100%; z-index:100">
        <div style="color:#000; margin:0 auto; padding:0; overflow:hidden; position:relative; text-align:left; width:920px;">
            <div style="float:left; margin-right:20px"><img src="http://www.wiserbrowser.com/img/alert/attention.png" alt="Warning!"/></div>
            <div style="float:left; font-family:Arial,sans-serif; width:442px">
                <p style="font-size:16px; font-weight:bold; line-height:1; margin-top:8px">You're Using an Outdated Web Browser</p>
                <p style="font-size:14px; line-height:1.3; margin-top:5px">In order to experience this website properly, please upgrade.<br>Learn more at <a href="http://wiserbrowser.com" style="color:#c00; text-decoration:underline; border:none">www.wiserbrowser.com</a></p>
            </div>
            <a style="border:none; float:left; margin-right:12px" href="http://www.google.com/chrome" target="_blank"><img src="http://www.wiserbrowser.com/img/alert/chrome.png" style="border: none;" alt="Download Chrome"/></a>
            <a style="border:none; float:left; margin-right:12px" href="http://www.firefox.com/" target="_blank"><img src="http://www.wiserbrowser.com/img/alert/firefox.png" style="border: none;" alt="Download Firefox"/></a>
            <a style="border:none; float:left; margin-right:12px" href="http://www.apple.com/safari/" target="_blank"><img src="http://www.wiserbrowser.com/img/alert/safari.png" style="border: none;" alt="Download Chrome"/></a>
            <a style="border:none; float:left; margin-right:12px" href="http://www.opera.com/" target="_blank"><img src="http://www.wiserbrowser.com/img/alert/opera.png" style="border: none;" alt="Download Opera"/></a>
            <a style="border:none; float:left; margin-right:12px" href="http://www.microsoft.com/windows/internet-explorer/" target="_blank"><img src="http://www.wiserbrowser.com/img/alert/ie.png" style="border: none;" alt="Download Internet Explorer"/></a>
            <a style="border:none; font-weight:bold; position:absolute; right:3px; top:3px" href="#" onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src="http://www.wiserbrowser.com/img/alert/close.png" style="border: none;" alt="Close notification"/></a>
        </div>
    </div>

    <![endif]-->


  <div id="app">



<nav id="mainnav" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#">FindBooks</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling --> 
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">

          <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown">
            <span class="hidden-xs">Libreria Internacional </span>
            <i class="fa fa-user fa-fw"></i><span class="caret"></span>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li><a class="edit-profile" href="#">Edit Profile</a></li>
            <li class="divider"></li>
            <li><a class="logout" href="#">Log Out</a></li>
          </ul>

        </li>
      </ul>

  </div>
</nav>


    <div id="thebooks" class="container" >

      

    </div>

    <div id="admin" class="container">
  
      
      
    </div>

    <div id="login" class="container">
  
      
    </div>

  </div>


    <script type="text/template" id="login-template">
      <div id="fondo-blur" class= "col-sm-6 col-md-5 col-lg-4">
        <div id="background-obscuro">
        
        <div id="logo">
          <img src="favicon-196x196.png" alt="Logo de FindBooks" width="80" height="80" class= "pull-left">
          <h1 >Find Books</h1>
        </div>

          <form role="form" class="form-horizontal">
            <div class="alert alert-danger" role="alert"></div>

            <div class="form-group">
              <label for="exampleInputEmail1" class="col-xs-2 control-label">Email</label>
              
              <div class="col-xs-10">
                <input type="email" class="form-control email" placeholder="Enter email">
              </div>

            </div>


            <div class="form-group">
              <label for="exampleInputPassword1" class="col-xs-3 control-label">Password</label>
              <div class="col-xs-9">
                <input type="password" class="form-control password" placeholder="Password">
              </div>
            </div>


            <button type="submit" class="btn btn-success btn-block login">Log In</button>
            <button type="button" class="btn btn-success btn-block signup">Sign Up</button>
          </form>

        </div>
      </div>

    </script>


    <script type="text/template" id="admin-template" >

      <div class="row" >
        
          <div class="col-lg-4 col-md-3 col-sm-3 col-xs-6">
            <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-plus"></span> Upload Database</button>

          </div>
          <div class="col-lg-4 col-lg-offset-4 col-md-5 col-md-offset-4 col-sm-5 col-sm-offset-4 col-xs-12 col-xs-offset-0">
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </div>
        
      </div>

      
    <div class="panel panel-default">

      <div id="add-book" class="panel  panel-default" >

          <div  class="panel-heading" >
            
            <div class="input-group">
              <span class="input-group-addon">Agregar libro:</span>
              <input type="text" class="form-control" placeholder="Nombre/ISBN">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <i class="glyphicon glyphicon-plus"></i>
                  </button>
                </span>
            </div>

          </div>


        <div class="panel-body results col-xs-12 hidden">

          <ul class="list-group">
            
            <li class="list-group-item">
                  <h3>The lean Startup<small>: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses.<em> Por Eric Ries</em></small></h3>
                  
                  <div class="row">
                    <div class="col-sm-6">
                      ISBN-10: 0307887898
                       ||  
                      ISBN-13: 978-0307887894
                    </div>
                    <div class="col-sm-6 text-right">
                    April 2, 2012
                      ||  
                    Pasta dura
                    </div>
                  </div>
                  
            </li>
            
            <li class="list-group-item">
                  <h3>The lean Startup<small>: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses.<em> Por Eric Ries</em></small></h3>
                  
                  <div class="row">
                    <div class="col-sm-6">
                      ISBN-10: 0307887898
                       ||  
                      ISBN-13: 978-0307887894
                    </div>
                    <div class="col-sm-6 text-right">
                    April 2, 2012
                      ||  
                    Pasta dura
                    </div>
                  </div>
            </li>

          </ul>

        </div>
      </div>


      <table class="table table-striped" >
        <tr>
          <th>
            Titulo / Autores
          </th>
          <th>
            Precio
          </th>
          <th>
            Existencias
          </th>
          <th>
            
          </th>
        </tr>

        <tr>
          <td class="row">
            <h2 class="pull-left" >
                <img width="30" height="40" >
            </h2>
            <h2 class="title">Nombre del Libro</h2>
            <h4 class="authors">Miguel de Cervantes</h4>
          </th>
          <td>
            $4,000
          </td>
          <td>
            20
          </td>
          <td>
            <a href="#"><i class="fa fa-pencil fa-fw"></i></a>
            <a href="#"><i class="fa fa-trash-o fa-fw"></i></a>
          </td>
        </tr>
        <tr>
          <td class="row">
            <h2 class="pull-left" >
                <img width="30" height="40" >
            </h2>
            <h2 class="title">Nombre del Libro</h2>
            <h4 class="authors">Miguel de Cervantes</h4>
          </th>
          <td>
            $4,000
          </td>
          <td>
            20
          </td>
          <td>
            <a href="#"><i class="fa fa-pencil fa-fw"></i></a>
            <a href="#"><i class="fa fa-trash-o fa-fw"></i></a>
          </td>
        </tr>

      </table>

      </div>
    

    </script>


    <script type="text/template" id="book-result-template">
    <a>
    <img src='<%= thumbnails.thumbnail %>' alt="">
    <h3><%= title %></h3>
    <h4><%= authors %></h4>
    </a>
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

    <script src="js/vendor/underscore-1.1.6.js"></script>

    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.16.min.js"></script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- 
    <script src="js/vendor/bootstrap.min.js"></script>
 -->
    <script src="js/keys.js"></script>
    <script src="js/login.js"></script>
    <script src="js/nav.js"></script>
    <script src="js/admin.js"></script>
    <script src="js/app.js"></script>
    <script src="js/main.js"></script>

    <script>
            // var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            // (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            // g.src='//www.google-analytics.com/ga.js';
            // s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
